* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.wrapper {
  width: 440px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

form {
  padding: 40px;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-box {
  margin-bottom: 15px;
}

.form-box label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.form-box.error input {
  border: 1px solid #0089fa;
  background-color: rgba(0, 137, 250, 0.1);
}

.form-box .error-text {
  visibility: hidden;
  margin: 5px 0 0 10px;
  font-size: 14px;
  color: #0089fa;
}

.form-box.error .error-text {
  visibility: visible;
}

.control-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.send,
.clear,
.close {
  display: block;
  padding: 10px 0;
  margin-left: 10px;
  width: 100px;
  font-size: 18px;
  background-color: #008cff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.send:hover,
.clear:hover,
.close:hover {
  background-color: #006bc2;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -300px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid black;
  -webkit-transition: top .5s;
  transition: top .5s;
}

.popup p {
  font-size: 28px;
}

.popup button {
  margin-top: 20px;
}

.show-popup {
  top: 150px;
}
/*# sourceMappingURL=style.css.map */